@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons";

[class*="bi-"]::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn-menu{
   @extend .btn-secondary;
    background-image: url("../img/wood-texture_00003.jpg");
}

.header{
    display:flex;
    justify-content: center;
    width: 100%;
    height:3rem;
    background-color: white;
    .component{
        margin-right:2rem;        
        font-size: 1.8em;
    }
    
    .userMenue{
        margin-left:auto;
    }
}